{
    "extends": [
        "next",
        "next/core-web-vitals",
        "plugin:react/recommended",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": ["react", "prettier", "@typescript-eslint"],
    "rules": {
        // Don't need to explicitly import React when using Next.js
        "react/react-in-jsx-scope": "off"
    },
    "globals": {
        // Don't need to explicitly import React when using Next.js
        "React": "writable"
    }
}
